@model ForecastAPI.Emailing.Models.RegistrationLetter

@{
    Layout = null;
    var verifyLink = $"https://localhost:3000/confirm/{Model.VerifyLink}";
}

<div>
    <h1>Dear, @Model.UserName! Welcome to our resourсe!</h1>
    <h2>For completing the registration you need to press the button below</h2>
    <a href=@verifyLink>Confirm email</a>
</div>